.herobanner span {
    display: flex;

    font-size: 5.5vw;

    margin-top: 10%;
    margin-bottom: 10%;

    justify-content: center;
    align-items: center;

    color: whitesmoke;
}


.herobanner {
    position: sticky;

    width: 100%;
    height: 25%;
}

