

.navigation a:hover {
    background: grey;
    transform: scale(1.05);
}


.username {
    float: left !important;
    font-size: 1.5rem !important;
}


.navigation a {
    float: right;

    font-size: 1rem;
    text-align: center;
    padding: 1.5% 1.5% 1.5% 1.5%;

    text-decoration: none;

    color: #1e1e1e !important;

    transition: .5s linear;
}


.navigation {
    position: -webkit-sticky;
    position: sticky;

    overflow: hidden;

    border-radius: 4px;
    -webkit-border-radius: 4px;

    color: #1e1e1e;
}
