

.navigation a:hover {
    background: grey;
}


.username {
    float: left !important;
    font-size: 20px !important;
}


.navigation a {
    float: right;
    font-size: 16px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

    color: #1e1e1e !important;

    transition: background-color 1s linear;
}


.navigation {
    position: sticky;

    overflow: hidden;

    background-color: whitesmoke !important;
    -webkit-backdrop-filter: blur(4px) !important;
    opacity: 85% !important;

    border-radius: 4px;

    color: #1e1e1e;
}
