.project {
    width: 95%;

    margin-left: 2.5%;
    margin-right: 2.5%;

    padding: 2% 2% 2% 2%;

    border-radius: 4px;
}


#hannankakku {
    background-color: orange;
}

#responsiivisuus {
    background-color: coral;
}


